[user]
	name = Setsun
	email = setsun@setsun.io
[alias]
	cl = clone
	co = checkout
	cob = checkout -b
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	df = diff
	st = status
	ss = stash
	ssa = stash apply
	ssp = stash pop
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	amend = commit --amend --no-edit
	undo = reset HEAD~1 --mixed
	peek = diff HEAD~1
	purge = reset --hard && clean -df
[commit]
	verbose = true
[push]
	default = current
